 /* ============ COMMON STYLES ============ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  scroll-behavior: smooth;
}

img {
  display: block;
}


.page{
background-color: rgb(255, 255, 255);

}
.section {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-align: center;
  text-transform: uppercase;
  }

.page-logo{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: black;
    position: absolute;
    
     
}
.page-logo-wrapper{

    margin-left: 14px;
    margin-top: 34px;

}

.text-logo{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #864646; 
    position: absolute;
    padding-left: 14px;
    padding-top: 34px;
    text-align: center;
}





.img-background{
    background:url('./imges/food-background.png.png');
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
}
 h1{
    position: absolute;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    color: #fff; 
    margin-left: 406px;
    margin-right: 407px;
    margin-top: 204px;
    margin-bottom: 438px;
   
 }
 .title-button{
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #000;
    border-radius: 10px;
    width: 336px;
    height: 74px;
    background: #fd6021;
    margin-left: 552px;
    margin-right: 552px;
    margin-top: 470px;
    margin-bottom: 184px;
   scroll-behavior: smooth;
  
 }

.section-title{
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    color: #000;
}

.section-title-region-recipte{
    margin-top: 0;
    padding-top: 112px;


}
.transparend-background-gerichte{
    position: absolute;
    background:url('./imges/food-background3.png.png') no-repeat fixed;
    width: 100%;
    height: 100%;
    background-size: contain;
 
}

 
 
 .transparend-background{
    background:url('./imges/food-background2.png.png') no-repeat fixed;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
}


.region-conteiner1{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    width: 328px;
    height: 151px;
    background: rgba(255, 255, 255, 0.9);
}
.region-conteiner2{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    width: 328px;
    height: 151px;
    background: rgba(255, 255, 255, 0.9);
}
.region-conteiner3{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000;
    border-radius: 10px;
    width: 328px;
    height: 151px;
    background: rgba(255, 255, 255, 0.9);
}

.button-conteiner{
    margin-top: 205px;
    padding-bottom: 341px;
    padding-left: 142px;
    padding-right: 142px;
}
.conteiner{
    position: absolute;
    border-radius: 40px;
    width: 1264px;
    height: 451px;
  
  
}

.text-logo-page{  
    margin-left: 14px;
    margin-top: 34px;
    position: absolute;
}

/*Gerichte*/
/*
.transparend-background-gerichte{

    background:url('./imges/food-background3.png.png') no-repeat fixed;
    width: 100%;
    height: 100%;
    background-size: contain;
    position: absolute;
}

.gerichte-list-avatar{
    border-radius: 10px;
    position: absolute;
    background: url("./imges/borschtsch.png.png") no-repeat fixed;
    width: 313px;
    height: 271px;
    border-top: 267px;
    border-bottom: 305px;
    border-left: 829px;
    border-right: 298px;
   
 }  

.borschtsch-button{
    position: absolute;
    border-radius: 10px;
    background: #fff;  
    width: 166px;
    height: 71px;
    background: url("./imges/portion.png.png") no-repeat fixed;
    background: url("./imges/zeit.png.png") no-repeat fixed;
    background: rgba(255, 255, 255, 0.9);
}
.gerichte-list-fullname{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000;
 }

.gerzeit{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: #000;
}

    
.portionen{
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: #000;
}


 

.pflannkuchen-button{
   position: absolute;
    border-radius: 10px;
    background: #fff;  
    width: 166px;
    height: 71px;
    background: url("./imges/portion.png.png") no-repeat fixed;
    background: url("./imges/zeit.png.png") no-repeat fixed;
    background: rgba(255, 255, 255, 0.9);
    }

.gerichte-list-pflannkuchen{
    position: absolute;
    border-radius: 10px;
    width: 313px;
    height: 271px;
    background: url("./imges/pflannkuchen.png.png") no-repeat fixed;
    margin-top: 267px;
    margin-bottom: 305px;
    margin-left: 299px;
    margin-right: 828px; 
}
*/

.gericht{
font-family: "Montserrat", sans-serif;
font-weight: 800;
font-size: 48px;
text-align: center;
color: #000;
}

/*BORSCHTSCH*/
.borschtsch-title{
padding-top: 0px;
text-align: center;

}
.borschtsch-zutaten{
padding-left: 777px;
margin-left: 44px;

}

.zutaten-title{

font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 32px;
text-align: center;
color: #000;

}

.zutaten-rezept{
   
padding-left: 260px;

}



.zutaten{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #000;
   } 

.rezept-borschtsch{
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 24px;
color: #000;
padding-left: 72px;
}

.borschtsch-avatar{
    position: absolute;
    background: url("./imges/borschtsch.png.png");
    border-radius: 10px;
    width: 599px;
    height: 489px;
    margin-top: 20px;
    margin-bottom: 148px;
    padding-left: 64px;


}

/*WARENIKI*/
.wareniki-title{
    padding-top: 124px;
    text-align: center;

}

.wareniki-zutaten{
    padding-left: 777px;
    margin-left: 44px;
    

}

.wareniki-avatar{

    position: absolute;
    background: url("./imges/wareniki.png.png");
    border-radius: 10px;
    width: 599px;
    height: 489px;
    margin-top: 20px;
    margin-bottom: 148px;
    padding-left: 64px; 
}

.rezept-wareniki{
position: relative;
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 24px;
color: #000;
padding-left: 72px;
margin-top: 181px;
}

.rezept-zutaten{
margin-top: 15px;


}

/*BOGRACH*/
.bograch-title{
    padding-top: 124px;
    text-align: center;

}
.bograch-avatar{
    position: absolute;
    background: url("./imges/bograch.png.png");
    border-radius: 10px;
    width: 599px;
    height: 489px;
    margin-top: 20px;
    margin-bottom: 148px;
    padding-left: 64px;  
}
.bograch-zutaten{
    padding-left: 777px;
    margin-left: 44px;

}
.rezept-bograch{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    padding-left: 72px;
    margin-top: 181px;   
}

/*PULZ SUPPE*/

.suppe-title{
    padding-top: 124px;
    text-align: center;

}
.suppe-avatar{
    position: absolute;
    background: url("./imges/pulz-suppe.png.png");
    border-radius: 10px;
    width: 599px;
    height: 489px;
    margin-top: 20px;
    margin-bottom: 148px;
    padding-left: 64px;  
}
.suppe-zutaten{
    padding-left: 777px;
    margin-left: 44px;

}
.rezept-suppe{
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #000;
    padding-left: 72px;
    margin-top: 181px;   
}





/*Zutaten*/

/* ============ 
 .gericht{
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 48px;
  text-align: center;
  color: #000;
  margin-top: 124px;
  text-align: center;
}
 
.zutaten{
  border-radius: 40px;
  width: 635px;
  height: 632px;
  background: #f0f0f0;
}

 

 



.transparend-background-2{
  background:url('./imges/food-background2.png.png')no-repeat fixed;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
 }






.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
============ */